<web-app>
<servlet>
<servlet-name>Newaccount</servlet-name>
<servlet-class>Newaccount</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Newaccount</servlet-name>
<url-pattern>/newaccount</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SignUp</servlet-name>
<servlet-class>SignUp</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SignUp</servlet-name>
<url-pattern>/signup</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ForgotSignup</servlet-name>
<servlet-class>ForgotSignup</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ForgotSignup</servlet-name>
<url-pattern>/forgotsignup</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ForgotPassword</servlet-name>
<servlet-class>ForgotPassword</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ForgotPassword</servlet-name>
<url-pattern>/forgotpassword</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AfterLogin</servlet-name>
<servlet-class>AfterLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AfterLogin</servlet-name>
<url-pattern>/afterlogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Debit</servlet-name>
<servlet-class>Debit</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Debit</servlet-name>
<url-pattern>/debit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Credit</servlet-name>
<servlet-class>Credit</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Credit</servlet-name>
<url-pattern>/credit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CheckBalance</servlet-name>
<servlet-class>CheckBalance</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CheckBalance</servlet-name>
<url-pattern>/checkbalance</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Transfer</servlet-name>
<servlet-class>Transfer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Transfer</servlet-name>
<url-pattern>/transfer</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ChangePassword</servlet-name>
<servlet-class>ChangePassword</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ChangePassword</servlet-name>
<url-pattern>/changepassword</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LogOut</servlet-name>
<servlet-class>LogOut</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LogOut</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TransactionHistory</servlet-name>
<servlet-class>TransactionHistory</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TransactionHistory</servlet-name>
<url-pattern>/transactionhistory</url-pattern>
</servlet-mapping>
</web-app>